<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-square-linkedin"></i>
    </div>
    <p
      style="font-size: 0.9rem; color: gray; text-align: center; padding: 10px"
    >
      🚧 This website is a student project created for educational purposes
      only. It is not affiliated with or endorsed by Airbnb.
    </p>

    <div class="f-info-brand">&copy; Waytra Private Limited</div>
    <div class="f-info-links">
      <a href="/listings/working">Privacy</a>
      <a href="/listings/working">terms</a>
    </div>
  </div>
</footer>
